div {background:#ededed;
padding: 20px;
font-family: sans-serif;
border-left: 5px solid #999;
font-size: 30px;}


h1 {margin: 0;
color: #ff0000;}


span { color: #999;
font-size: 16px;
font-weight: 100;}
 
p{color: #555; font-size: 14px;}